**\node_modules
frontend/eslint.config.mjs
frontend/next-env.d.ts
frontend/next.config.ts
frontend/postcss.config.mjs
frontend\.next
frontend/tsconfig.json
frontend/dist/config.js

# for backend
**\server_connection.json
**\.vscode
**\.cursor
*.log
**\__pycache__
**/smb_discovered_files.txt
**\backend_env_*